<app-employee-menu></app-employee-menu>

<div class="mt-4">

  <div class="d-flex justify-content-between">

    <div class="mx-3">
      <h1><strong>Leave Applications</strong></h1>
    </div>

    <div class="d-flex flex-row">
      <div class="mx-3">
        <button class="btn btn-outline-primary" (click)="OpenAddLeaveDialog()">Apply Leave</button>
      </div>

      <div class="mx-3" style="margin-bottom: 5%;">
        <!-- <button pButton label="Clear" class="p-button-outlined " icon="pi pi-filter-slash" (click)="clear(dt)"
          style="scale: 0.9;"></button> -->
        <button class="btn btn-outline-primary" (click)="clear(dt)">
          <div class="d-flex flex-row">
            <span class="material-icons " style="scale: 0.7;">
              filter_list_off
            </span>
            <span>Clear</span>
          </div>

        </button>

      </div>
    </div>

  </div>

  <p-table #dt [value]="allLeaveRequests" [tableStyle]="{'width': '100%'}" [rowHover]="true" [rows]="5"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="colgroup">
      <colgroup>
        <col [style.width]="'120px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">
        <col [style.width]="'200px'">

      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Status </th>
        <th>Employee Name </th>
        <th>Leave Type </th>
        <th>Paid leave </th>
        <th pSortableColumn="startDate">From <p-sortIcon field="startDate"></p-sortIcon></th>
        <th pSortableColumn="endDate">To <p-sortIcon field="endDate"></p-sortIcon></th>
        <th>Days Taken </th>
        <th pSortableColumn="dateOfRequest">Request Date <p-sortIcon field="dateOfRequest"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-leave>
      <tr>
        <td>
          <span class="material-icons text-success" *ngIf="leave.status==1">
            thumb_up
          </span>

          <span class="material-icons text-danger" *ngIf="leave.status==2">
            thumb_down
          </span>

          <span class="material-icons text-warning" *ngIf="leave.status==0">
            pending
          </span>
        </td>
        <td>{{leave.username}}</td>
        <!-- <td>{{leave.leaveType}}</td> -->
        <td>{{GetLeaveType(leave.leaveType)}}</td>
        <td>{{leave.isPaid ? 'Paid' : 'Unpaid'}}</td>
        <td>{{leave.startDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{leave.endDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{leave.leaveDays}} Day/s</td>
        <td>{{leave.dateOfRequest | date: 'dd-MMM-yyyy'}}</td>
        <td>
          <div class="btn" (click)="OpenLeaveDetailsDialog(leave.id)">
            <span class="material-icons text-secondary" style="scale: 1.2;">
              preview
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


</div>