<app-employee-menu></app-employee-menu>

<div class="container border mt-4">
    <div class="d-flex flex-row justify-content-between p-3">

        <div class="d-flex flex-row">
            <h2>You are currently: </h2>

            <h1 *ngIf="isPunchedIn" disabled class="text-info">Punched In</h1>

            <h1 *ngIf="!isPunchedIn" disabled class="text-warning">Punched Out</h1>
        </div>


        <button *ngIf="isPunchedIn" class="btn btn-danger">Punch Out</button>

        <button *ngIf="!isPunchedIn" class="btn btn-success">Punch In</button>

    </div>
</div>