<app-employee-menu></app-employee-menu>

<div>

    <div class="container border mt-4 mb-4">
        <div class="d-flex flex-row justify-content-between p-3">
            <div class="d-flex flex-row">
                <h2>You are currently: </h2>
                &nbsp;
                <h1 *ngIf="isPunchedIn" disabled class="text-info">Punched In</h1>
                &nbsp;
                <h1 *ngIf="!isPunchedIn" disabled class="text-warning">Punched Out</h1>
            </div>
            <button *ngIf="isPunchedIn" class="btn btn-danger" (click)="AddPunch(false)">Punch Out</button>
            <button *ngIf="!isPunchedIn" class="btn btn-success" (click)="AddPunch(true)">Punch In</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="container border">
                <h1> Currently Punched In Members</h1>

                <table>
                    <tr>
                        <th>i</th>
                        <th>name</th>
                        <th>time</th>
                        <th>status</th>
                    </tr>
                    <tr *ngFor="let user of punchedInUsers; i is index">
                        <td>i+1</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.punchDateTime | date: 'dd/MM/yyyy'}}</td>
                        <td>{{user.punchStatus}}</td>
                    </tr> 
                </table>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>